<a href="https://colab.research.google.com/github/ElyssonAlvs/Machine_learning_Data_Science/blob/main/Machine_Learning_%2B_Data_Science_%2B_Deep_Learning_Class_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# import of library tha data analisy
import pandas as pd
# paste adress of datas - url
uri = "https://raw.githubusercontent.com/alura-cursos/introducao-a-data-science/master/aula4.1/movies.csv"
# read of adress of datas with pandas
filmes = pd.read_csv(uri)
# reading the first rows of datas
filmes.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [ ]:
# modifying columns names for portuguese
filmes.columns = ['filmesId', 't√≠tulo', 'generos']
# reading the first rows of datas
filmes.head()

,filmesId,t√≠tulo,generos
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [ ]:
# data the rating of movies
uri = "https://raw.githubusercontent.com/alura-cursos/introducao-a-data-science/master/aula1.2/ratings.csv"
# read of adress of datas with pandas
notas = pd.read_csv(uri)
# reading the first rows of datas
notas.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [ ]:
# modifying columns names for portuguese
notas.columns = ['usuarioId', 'filmesId', 'nota', 'momento']
# reading the first rows of datas
notas.head()

   usuarioId  filmesId  nota    momento
0          1         1   4.0  964982703
1          1         3   4.0  964981247
2          1         6   4.0  964982224
3          1        47   5.0  964983815
4          1        50   5.0  964982931

In [ ]:
# First columns of movie notes
notas['nota'].head()

0    4.0
1    4.0
2    4.0
3    5.0
4    5.0
Name: nota, dtype: float64

In [ ]:
# unique notes presents in dataframe, metric of notes
notas['nota'].unique()

array([4. , 5. , 3. , 2. , 1. , 4.5, 3.5, 2.5, 0.5, 1.5])

In [ ]:
# finding of mean of notes presents in dataFrame
notas['nota'].mean()

3.501556983616962

In [ ]:
# minimun note
min_notes = notas['nota'].min()
print('Minimun notes at the dataFrame "notas" : {} '.format(min_notes))
# maximun note
max_notes = notas['nota'].max()
print('Maximum notes at the dataFrame "notas" : {} '.format(max_notes))

Minimun notes at the dataFrame "notas" : 0.5
Maximum notes at the dataFrame "notas" : 5.0

In [ ]:
# describe of dataFrame
notas.describe()

           usuarioId       filmesId           nota       momento
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

Final Aula 02